/* Make the maximum width of the page smaller
for artistic purpose*/
@media (min-width: 1200px) {
    .container {
        width: 1000px;
    }
}

@font-face {
  font-family: "Super";
  src: url(../fonts/Le_Super_Type_Regular.ttf);
}

@font-face {
  font-family: "Super Semibold";
  src: url(../fonts/Le_Super_Type_SemiBold.ttf);
}

body {
    margin-top: 40px;
    margin-bottom: 20px;
}

h1 {
    font-family: Super, sans-serif;
    font-size: 60px;
}

div .cover {
    background-image: url(../image/now.png);
    background-size: cover;
    background-position: center;
    height: 200px;
}

h3 {
    font-family: Super Semibold, sans-serif;
    font-size: 30px;
}

.tiles .col-md-4 {
    padding: 0px;
}